body {
    display: flex;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(63, 61, 61);
    font-family: 'Roboto' Verdana, 'Geneva', Tahoma, sans-serif ;
    padding: 0 300px;
    padding-bottom: 100px;
}

.header > div {
    flex: 1 1 50%;
    padding: 10px;
    /* height: 100px; */
}

/* NAVIGATION BAR */

.header-logo {
    display: flex;
    justify-content: left;
}

.nav-links {
    display: flex;
    gap: 16px;
    font-size: 20px;
    justify-content: right;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/* LINK BEHAVIORS */

a { text-decoration: none;
    color: transparent;
    font-weight: 900;
    background-image: linear-gradient(
        to right,
        #5a5656 0,
        #cb9b51 10%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 90%,
        #5a5656 100%
    );
    background-clip: text;
}
a:visited { text-decoration: none; color: #f6e27a;}
a:hover { text-decoration: none; color: black;}
a:active { text-decoration: none; color: white;}



  .main-text {
    display: flex;
    flex-direction: column;
    width: 1000px;
    flex-wrap: wrap;
  }

  .logo {
    display: flex;
    justify-content: right;
  }

  .welcome {
    margin: 0;
    color: transparent;
    font-size: 48px;
    font-weight: 900;
    background-image: linear-gradient(
        to right,
        #5a5656 0,
        #cb9b51 22%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #5a5656 100%
    );
    background-clip: text;
  }

  p {
    color: #cb9b51;
  }

  .sign-up-button {
    background-color: #cb9b51;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 25px;
  }

  .button {
    color: black;
    font-weight: bold;
  }